body {
  background-color: #c4dae6;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}
.outerContainer {
  background-color: #fafbfe;
  border: 2px solid #d4e7ff;
  border-radius: 10px;
  padding: 0px 30px 20px 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainTitle {
  font-size: 30px;
  color: #00306e;
  text-align: center;
  font-weight: bold;
  margin: 20px 0px;
}
.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /* margin-top: 20px; */
  padding: 5px 20px;
  max-width: 80vw;
}
.tabContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.tab {
  background-color: #ffffff;
  border: 2px solid #d4e7ff;
  border-radius: 5px;
  margin: 3px 0px;
  padding: 5px 10px;
  width: 220px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  transform: scale(1);
}
.selectedTab {
  background-color: #ffffff;
  border: 2px solid #d4e7ff;
  border-radius: 5px;
  margin: 5px 0px;
  padding: 5px 10px;
  width: 220px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  transform: scale(1.03);
  box-shadow: 0px 0px 5px #1b5a7a;
}
.tabImage {
  height: 50px;
}
.tabTitle {
  margin: 0px 0px 0px 10px;
}
.forms {
  margin-left: 25px;
}
.subForm {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 20px; */
  max-height: 600px;
  overflow-y: scroll;
}
.box {
  background-color: #ffffff;
  border: 2px solid #d4e7ff;
  border-radius: 10px;
  padding: 10px 20px;
}
.subTitle {
  font-size: 22px;
  font-weight: 600;
  color: #1d1d1d;
  margin: 3px 0px;
}
.information {
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  margin: 0px;
}
.labelTitle {
  font-size: 18px;
  color: #333333;
  font-weight: bold;
}
.suggestion {
  font-size: 13px;
  font-weight: normal;
  color: #333333;
  margin: 0px;
}
.profilePicEdit {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 7px;
  border: 1px dotted #7d7d7d;
  border-radius: 5px;
  width: fit-content;
  margin-top: 10px;
}
.img1001 {
  height: 125px;
  width: 125px;
  border-radius: 3px;
}
.operations {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 5px 0px;
}
.operation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* align-items: stretch; */
  padding: 5px 0px;
  margin-left: 15px;
}
.icons1001 {
  height: 25px;
  margin-right: 5px;
}
.label1001 {
  margin: 0%;
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  border: 0px;
  background-color: transparent;
  text-align: left;
}
.input-field {
  width: 100%;
}
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="select"] {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: #ffffff;
  font-family: "Roboto";
  color: #1d1d1d;
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="select"]:focus {
  border: 1px solid #7d7d7d;
  outline: none;
  box-shadow: 0px 0px 6px #7d7d7d;
}
/* Container Styling */
.gender-selection {
  display: flex;
  gap: 10px;
  font-family: "Roboto", sans-serif;
}

/* Hide Radio Buttons */
.gender-selection input[type="radio"] {
  display: none;
}

/* Button Styling */
.gender-selection .btn {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #00306e;
  /* Default text color */
  background-color: #d4e7ff;
  /* Default background color */
  border: 2px solid #d4e7ff;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Active/Selected State */
.gender-selection input[type="radio"]:checked + .btn {
  background-color: #00306e;
  /* Active background color */
  color: #ffffff;
  /* Active text color */
  border: 2px solid #00306e;
}
.nextButton {
  background-color: #00306e;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 7px 15px;
  border-radius: 5px;
}
.blankHeightBox {
  height: 25px;
}
.margin-left {
  margin-left: 10px;
}
.margin-right {
  margin-right: 10px;
}
